<h1>Storage History</h1>
<% @users_storage.each do |storage| %>
  <%= storage.name %> <br>
  <a href="<% unless storage.bookmark %>/assets/storage/<% end %><%= storage.link_url %>">
    <%= storage.link_url %>
  </a> <br>
<% end %>
