<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <p>Storage</p>
    <form action="/save_information" method="POST" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="Name of file">
      <input type="text" name="link" placeholder="Link">
      <input type="file" name="file">
      <input type="submit" value="Upload file">
    </form>
  </body>
</html>