<h1>Downloads</h1>
<body>
  <p>Select the applications you need to install:</p>
    <a href="https://releases.hashicorp.com/vagrant/1.8.4/vagrant_1.8.4.dmg">
      <img src="https://worldvectorlogo.com/logos/vagrant.svg" alt="Vagrant" style="width:42px;height:42px;border:0;">
    </a>
    <a href="http://download.virtualbox.org/virtualbox/5.1.0/VirtualBox-5.1.0-108711-OSX.dmg">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Virtualbox_logo.png" alt="Virtual Box" style="width:42px;height:42px;border:0;">
    </a>
    <a href="https://download.sublimetext.com/Sublime%20Text%20Build%203114.dmg">
      <img src="https://camo.githubusercontent.com/26fc099e66f5835e6ef2d797e2650b758adbbd94/687474703a2f2f633735383438322e7238322e6366322e7261636b63646e2e636f6d2f7375626c696d655f746578745f69636f6e5f323138312e706e67" alt="Sublime Text 3" style="width:42px;height:42px;border:0;">
    </a>
    <a href="https://dl.google.com/chrome/mac/stable/GGRO/googlechrome.dmg">
      <img src="https://www.seeklogo.net/wp-content/uploads/2012/02/google-chrome-logo-vector.jpg" alt="Chrome" style="width:42px;height:42px;border:0;">
    </a>
    <a href="https://downloads.slack-edge.com/mac_public_releases/slack-2.0.3.zip">
      <img src="https://s3.amazonaws.com/bf.boulder.prod/o7sq5w-56gyo0-5a8i5o/original/AppIcon-83.5%202x.png?response-content-disposition=attachment;filename=%22AppIcon-83.5%202x.png%22&AWSAccessKeyId=AKIAI7INU24Y57MZUVEQ&Expires=1468618342&Signature=OWBCX8XmuW53sWSffLY6rVMZwhs=" alt="Slack" style="width:42px;height:42px;border:0;">
    </a>
    <form method="GET" action="/session/profile">
      <button>Done!</button>
    </form>
  </body>
