<% if @user.errors.any? %>
  <div>
    <% @user.errors.full_messages.each do |error_message| %>
    <div class="bg-danger"><%= error_message %></div>
    <% end %>
  </div>
<% end %>

<div class="col-xs-offset-4 col-xs-4">
  <div class="logo">
    <img class="img-responsive" src="https://www.polymer-project.org/images/logos/p-logo.svg">
    <h1>SignApp</h1>
  </div>
</div>

<div>
<form class="signup-form form-login" method="POST" action="/session">
  <div class="group">
    <!-- <label for="username">Username:</label> -->
    <input type="text" id="username" placeholder="username" name="username" value="<%= @user.username %>"><span class="bar"></span>
  </div>

  <div>
    <!-- <label>Password: </label> -->
    <input type="password" placeholder="password" name="password"><span class="bar"></span>
  </div>

  <div>
    <input type="submit" value="Log In">
  </div>
</form>
</div>