* {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}
body {
  height: 100vh;
}

.checkmark {
  position: absolute;
  right: 15px;
  top: -30px;
  font-size: 100px;
  color: green;
}

.faded {
  background-color: #FFF;
  opacity: 0.2;
}

#github-status, #codeschool-status, #codecademy-status {
  text-align: center;
  margin-top: 20px;
  padding: 15px;
}

.hidden {
  display: none;
}

div.logo {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}

div.logo img {
  max-height: 200px;
  max-width: 200px;
  display: block;
  margin: auto;
}

nav {
  z-index: 10;
  margin-bottom: 0px !important;
  position: fixed;
}

.navbar-brand img {
  position: relative;
  float: left;
  height: 20px;
  margin-right: 5px;
}

.align-right {
  float: right;
}

.storage-files {
  font-size: 18px;
}

.storage-files tbody tr {
  cursor: pointer;
}

.storage-table-header {
  position: relative;
}

.storage-table-header div:last-child {
  position: absolute;
  right: -10px;
  bottom: 15px;
}

#submit-container {
  float: right;
  margin-top: 50px;
  margin-right: 10px;
}

.websites-container {
  margin-top: calc(100vh - 80vh);
  width: 100%;
}

.website-holder {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 5px;
  flex-wrap: wrap;
  min-height: 305px;
  cursor: pointer;
  /*background-color: #00a8a4;*/
}

.downloads-holder {
  min-height: 400px;
}

.website-status-form {
  margin-top: 20px;
  position: relative;
}

.over {
  float: right;
}

.alert-placement {
  margin-top:50px;
  z-index: 10;
  position: absolute;
  width: 55%;
/*  align-content: center;*/
}

.outer-div {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 13;
}

.inner-div {
    margin: 0 auto;
    width: 400px;
}

#down-one {
  margin-top: 80px;
  text-align: center;
}

#down-again {
  margin-top: 80px;
  text-align: center;
}