<% if @user.errors.any? %>
  <div>
    <% @user.errors.full_messages.each do |error_message| %>
    <div class="bg-danger"><%= error_message %></div>
    <% end %>
  </div>
<% end %> 

<div class="col-xs-offset-4 col-xs-4">
  <div class="logo">
    <img class="img-responsive" src="https://www.polymer-project.org/images/logos/p-logo.svg">
    <h1>SignApp</h1>
  </div>
</div>

<div>
<form action="/user" method="POST" class="signup-form form-login">
 <div class="group">
    <input type="text" name="name" value="<%= @user.name %>" placeholder="name">
      <span class="highlight"></span>
      <span class="bar"></span>
  </div>

  <div class="group">
    <input type="text" name="username" value="<%= @user.name %>" placeholder="username">
      <span class="highlight"></span>
      <span class="bar"></span>
  </div>

  <div class="group">
    <input type="text" name="password" placeholder="password">
      <span class="highlight"></span>
      <span class="bar"></span>
  </div>

  <div class="group">
    <input type="email" name="email" value="<%= @user.email %>" placeholder="email">
      <span class="highlight"></span>
      <span class="bar"></span>
  </div>

  <div class="group">
      <textarea id="Field4" name="description" spellcheck="true" rows="10" cols="47" tabindex="4" placeholder="describe yourself"></textarea>
  </div>

  <div class="group">
    <input type="file" name="file" onchange="previewFile()"><br>
    <img id="preview-image" src="" height="100">
  </div>

  <button class="button buttonBlue">Sign Up
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form> 
</div>
