<h1>Profile</h1>

<form action="/save_image" method="POST">
  <textarea rows="4" cols="52" name="description" placeholder="Write description here"></textarea>
  <input type="file" onchange="previewFile()"><br>
  <img width="430" height="300" src=""> <br>
  <br><button>Submit</button>
</form>