<div class="outer-div">
    <% if logged_in? && session[:flash] && session[:flash].include?("Welcome") %>
      <div class="alert inner-div alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= session[:flash] %>
      </div>
      <% session.delete(:flash) %>
    <% elsif session[:flash] %> 
      <div class="alert inner-div alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= session[:flash] %>
      </div>
      <% session.delete(:flash) %>
    <% end %>
  </div>
</div>
