<div id="navigation">
  <div class="align-left">
    <a href="/"><img class="img-responsive" src="https://www.polymer-project.org/images/logos/p-logo.svg" style="height: 30px"></a>
  </div>
  <div class="align-right">
    <a href="/user/new">Signup</a>
    <a href="/session/new">Login</a>
  </div>
    <!-- ||<a href="/"> <img class="img-responsive" src="https://www.polymer-project.org/images/logos/p-logo.svg" style="height: 30px"> ||</a> -->
    <!-- <a href="/user/new"> Signup || </a>
    <a href="/session/new"> Login || </a> -->
</div>

