    <div class="home">
        <!-- col-md-offset-1 col-md-5 -->
        <div class="col-xs-12" id="homepage-msg">
            <h1>Taking all day and night to onboard?</h1>
        </div>
        <!-- col-md-offset-6 col-md-5 -->
        <div class="col-xs-12" id="homepage-link">
            <h1>SignApp to get productive! <a href="/user/new"><span class="homepage-join-button">Join</span></a></h1>
        </div>
        <div class="home-wrapper js-home-desktop-wrapper">

        <section class="side-left js-side-left">
            <div class="side-left-wrapper">
                <div class="side-left-image js-side-left-image"></div>
            </div>
        </section>

        <section class="side-right">
            <div class="side-right-image js-side-right-image"></div>    
        </section>

        

    </div>


    <!-- <aside>
    
    </aside> -->
<!-- 
    <aside  class="signature"> -->
    <!-- <div class="homepage-msg">
        <h1>Taking all day and night to onboard?</h1>
    <h2> <a class="homepage-link" href="/user/new">Join</a> SignApp to get productive! </h2>
    </div> -->
    <!-- </aside> -->
    <aside class="signature">
    <footer>
        <!-- <p><a href="http://www.polymer-project.org/" target="_blank"><a href="/homepage" target="_blank">&copy;SignApp2016   <img src="https://www.polymer-project.org/images/logos/p-logo.svg"></a></p> -->
        <!-- <p>
        <a href="/homepage" target="_blank">&copy;SignApp2016</a>
        </p> -->
    </footer> 
    </aside>
