<html>
<head>
<title>Home page</title>
</head>
<body>
    <div class="home">
    <div class="home-wrapper js-home-desktop-wrapper">
    <section class="side-left js-side-left">
    <div class="side-left-wrapper">
    <div class="side-left-image js-side-left-image"></div>
    </div>
    </section>

    <section class="side-right">
    <div class="side-right-image js-side-right-image"></div>    
    </section>
    </div>

    <aside class="signature">
    <footer>
    <p><a href="http://www.polymer-project.org/" target="_blank"><img src="https://www.polymer-project.org/images/logos/p-logo.svg"></a></p>
    <p>
    <a href="/homepage" target="_blank">&copy;SignApp2016</a>
    </p>
    </footer> 
    </aside>
    </div>
</body>
</html>