<div class="container body-container">
  <div class="row websites-container">
    <div class="col-xs-4">
      <div class="website-holder">
        <div class="checkmark"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
        <img class="img-responsive center-block signup-logo" src="/assets/images/GitHub-Mark.png" />
        <img class="img-responsive center-block" src="/assets/images/GitHub_Logo.png" />
      </div>
    </div>
    <div class="col-xs-4">
      <div class="website-holder">
        <div class="checkmark"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
        <img class="img-responsive center-block signup-logo" src="/assets/images/codeschool_logo.png" />
      </div>
    </div>
     <div class="col-xs-4">
      <div class="website-holder">
        <div class="checkmark"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
        <img class="img-responsive center-block signup-logo" src="/assets/images/codecademy_logo.png" />
      </div>
    </div>
  </div>
  <div class="row submit-container">
    <div class="col-xs-12">
      <button class="btn btn-default">Submit</button>
    </div>
  </div>
</div>
