<h1> Accounts </h1>

<div class ="account_list">

<% @accounts.each do |account| %>
  <div class="account">
    <h2><%= account.account_type %></h2>
    <p>Click the ones you need to download</p>
  <form method="POST" action="/accounts">

<label for="account_type<% user.id%>">Type</label>
<select id="account_type<% user.id%>" name="type">
  <select>
    <option>Github</option>
    <option>CodeSchool</option>
    <option>CodeAcademy</option>
  </select>
</form>

<button> </button>